---
import { Icon } from 'astro-icon/components';

const { twitter, bluesky, github, download, other } = Astro.props;
---
<div class="flex items-center gap-3">
    {twitter && (
        <a href={twitter} target="_blank" rel="noopener noreferrer">
            <Icon name="simple-icons:twitter" class="size-6 text-gray-500 hover:text-blue-700 transition-colors" />
        </a>
    )}
    {bluesky && (
        <a href={bluesky} target="_blank" rel="noopener noreferrer">
            <Icon name="simple-icons:bluesky" class="size-6 text-gray-500 hover:text-blue-700 transition-colors" />
        </a>
    )}
    {github && (
        <a href={github} target="_blank" rel="noopener noreferrer">
            <Icon name="simple-icons:github" class="size-6 text-gray-500 hover:text-blue-700 transition-colors" />
        </a>
    )}
    {download && (
        <a href={download} target="_blank" rel="noopener noreferrer">
            <Icon name="simple-icons:download" class="size-6 text-gray-500 hover:text-blue-700 transition-colors" />
        </a>
    )}
    {other && (
        <a href={other} target="_blank" rel="noopener noreferrer">
            <Icon name="simple-icons:other" class="size-6 text-gray-500 hover:text-blue-700 transition-colors" />
        </a>
    )}
</div>