---
import { Image } from 'astro:assets';
import LinksArea from '@/components/LinksArea.astro';
import avatar from '@/images/icon.png';
import FindProjectIcon from '@/scripts/FindProjectIcon';
import { Icon } from 'astro-icon/components';

const { frontmatter, url } = Astro.props;

const { title, subtitle, favorite, twitter, bluesky, linkedin, github, steam, itchdotio, download, other } = frontmatter;

const icon = FindProjectIcon(title, avatar);
---

<div class="p-8 rounded-4xl flex flex-row gap-6 items-center justify-start w-full relative">
    <a href={url} rel="noopener noreferrer" class="shrink-0">
        <Image transition:name={`icon-${title}`} class="size-32 rounded-2xl max-w-600px max-h-600px aspect-square transition-all markdown-ignore" loading="lazy" alt={`${title} icon`} src={icon} />
    </a>
    <div class="flex flex-col items-start gap-2">
        <a href={url} rel="noopener noreferrer">
            <h1 class="text-4xl font-bold text-shadow-harpy text-left markdown-ignore">{title}</h1>
        </a>
        <a href={url} rel="noopener noreferrer">
            <p class="text-xl markdown-ignore text-left">{subtitle}</p>
        </a>
        <LinksArea
            twitter={twitter}
            bluesky={bluesky}
            linkedin={linkedin}
            github={github}
            steam={steam}
            itchdotio={itchdotio}
            download={download}
            other={other}
        />

        { favorite &&
        <div class="absolute top-8 right-8">
            <Icon name="mdi:star" class="size-8 text-yellow-400 drop-shadow-md" title="Recommended Project"/>
        </div>
        }
    </div>
</div>