---
import BaseLayout from './BaseLayout.astro';
import MadeWithArea from '@/components/MadeWithArea.astro';
import avatar from '@/images/icon.png';
import FindProjectIcon from '@/scripts/FindProjectIcon';

const { frontmatter } = Astro.props;

const { title, subtitle, made_with, twitter, bluesky, linkedin, github, steam, itchdotio, download, other } = frontmatter;

const icon = FindProjectIcon(title, avatar);
---
<BaseLayout
    title={title}
    subtitle={subtitle}
    icon={icon}
    twitter={twitter}
    bluesky={bluesky}
    linkedin={linkedin}
    github={github}
    steam={steam}
    itchdotio={itchdotio}
    download={download}
    other={other}
>
    <MadeWithArea made_with={made_with} slot="contact-card-extra"/>

    <div class="backdrop-blur-md backdrop-saturate-25 p-8 rounded-4xl w-[500px] lg:w-[1000px] gap-4 flex flex-col">
        <slot/>
    </div>
</BaseLayout>

<style is:global>
    img:not(.markdown-ignore) {
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 1rem 0;
    }

    h1:not(.markdown-ignore) {
        font-size: 2.25rem;
        line-height: calc(2.5 / 2.25);
        font-weight: 700;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2:not(.markdown-ignore) {
        font-size: 1.5rem;
        line-height: calc(2 / 1.5);
        font-weight: 700;
        
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    p:not(.markdown-ignore) {
        text-align: left;
    }
</style>