---
import CommonHead from '@/components/CommonHead.astro';
import Panel from '@/components/Panel.astro';
import LinksArea from '@/components/LinksArea.astro';
import NavigationBar from '@/components/NavigationBar.astro';

import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const { title, subtitle, icon, twitter, bluesky, linkedin, github, steam, itchdotio, download, other } = Astro.props;
---

<script>
	// Turn off scroll fade-in animation if unsupported
	function disableScrollEventsIfUnsupported() {
		if (CSS.supports("animation-timeline: view()")) return;

		const fadeElements = document.querySelectorAll(".fade-with-scroll");
		if (fadeElements) {
			fadeElements.forEach(element => {
				element.classList.remove("fade-with-scroll", "w-0");
				element.classList.add("w-screen");
			});
		}

		const contactCards = document.querySelectorAll('.contact-card');
		if (contactCards) {
			contactCards.forEach(card => {
				card.classList.remove("contact-card", "fixed", "top-1/2", "left-1/2", "-translate-1/2");
				card.classList.add("contact-card-compatibility");
			});
		}
	}
	
	// Listen for Astro view transition events to re-apply logic
	document.addEventListener("astro:page-load", () => {
		disableScrollEventsIfUnsupported();
	});

	// Manual call for initial load
	disableScrollEventsIfUnsupported();
</script>

<html lang="en">
	<head>
		<CommonHead title={title} description={subtitle}/>
	</head>
	<body class="bg-(--primary-light) dark:bg-(--primary-dark) text-(--content-light) dark:text-(--content-dark)">

		<!--Contact card-->
        <!--Should I abstract this into a component?-->
		<div class="h-screen w-0 fade-with-scroll">
			<NavigationBar/>

			<div class="contact-card fixed top-1/2 left-1/2 -translate-1/2 rounded-xl flex flex-row items-center justify-center gap-8">
				{icon && <Image transition:name={`icon-${title}`} class="size-32 lg:size-64 rounded-full max-w-600px max-h-600px aspect-square transition-all markdown-ignore shrink-0" loading="eager" alt="Harpy avatar :>" src={icon} /> }
				<div class="flex flex-col items-start gap-4">
					<h1 class="text-4xl font-bold text-shadow-harpy markdown-ignore">{title}</h1>
					<slot name="contact-card-extra"/>
					<LinksArea
						twitter={twitter}
                        bluesky={bluesky}
                        linkedin={linkedin}
                        github={github}
                        steam={steam}
                        itchdotio={itchdotio}
                        download={download}
                        other={other}
					/>
				</div>
			</div>

			<Icon name="mdi:keyboard-arrow-down" class="size-32 text-(--icon-light) dark:text-(--icon-dark) hover:text-black dark:hover:text-white transition-colors fixed bottom-25 left-1/2 -translate-x-1/2 contact-card down-arrow" />
		</div>

		<div class="flex flex-col items-center justify-center gap-32 pt-8 mb-64">
			<slot/>

			<Panel title="Under Construction." color="255,204,0" ring={true}>
				<p>Hi! Welcome to my new website.</p>
				<p>My previous website had been in use since 2020, and while it served me well, I needed a fresh start.<br>It was built using raw HTML and CSS, which was really restrictive. Furthermore, adding new projects was a pain.</p>
				<p>This new website is built using modern web technologies, and will allow me to easily showcase my work in a more efficient manner.</p>
				<p>Pardon the dust. Soon, you'll see this website populated with projects old and new.</p>
			</Panel>
		</div>
	</body>
</html>
